@import '~antd/dist/antd.css';

.logo {
    height: 59px;
    margin: 16px;
  }
.logo-img {
    height: 73px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
    
  }
  
  .site-layout-background {
    background: #fff;
  }